{{#section 'head'}}
<title>Class Home</title>
<script src="/static/js/class-homepage.js"></script>
{{/section}}
{{> sidebar this }}
<div class="content">
<p class="title">{{classObj.name}} - Homepage</p>
{{#if classObj.schoolData.notPublic}}
<p><a href="/classes/school/{{classObj.schoolData.schoolnum}}">
See other classes from {{classObj.schoolData.name}}</a></p>
{{/if}}
{{#if classObj.userStatus.enrolled}}
  <p>You are enrolled in this class</p>
  {{#if classObj.userStatus.admin}}
    <p><a href="/classes/{{classObj.id}}/settings">Admin - Review and manage this class</a></p>
  {{/if}}
{{/if}}
<p class="heading">Class information</p>
<p>{{classObj.description}}</p>
<p class="heading">Menu</p>
<p><a href="/classes/{{classObj.id}}/feed">Go to class feed</a></p>
<p><a href="javascript:void(0)" id="leave-btn" data-cid="{{classObj.id}}">
  Unenroll from this class</a></p>
</div>