{{#section 'head'}}
<title>Class Feed</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="http://localhost:5005/static/js/class-feed.js"></script>
<link rel="stylesheet" type="text/css" href="http://localhost:5005/static/css/styles.css">
{{/section}}
<h3 class="pagetitle">{{classObj.name}} - Feed</h3>
<p>{{classObj.description}}</p>
{{#if classObj.userStatus.enrolled}}
  <p>You are enrolled in this class</p>
  {{#if classObj.userStatus.admin}}
    <a href="#">Admin - Review and manage this class</a>
  {{/if}}
{{/if}}
<p>All Items</p>
<p>Total remaining workload: <span id="twl"></span></p>
<div class="assignments">
<ul>
  {{#each assignments}}
  <li><div class="assignment">
    <div class="dropdown-trigger">
      <p class="title">{{title}}</p>
      <p class="small">Created on <span name="time">{{created}}</span></p>
      <p>Expected workload: <span name="load">{{workload}}</span></p>
    </div>
    <div class="dropdown-details">
      <p>{{description}}</p>
      <div class="slide-container">
        <input type="range" value="0" class="slider">
      </div>
      <a class="btn update-btn disabled">Update</a>
    </div>
    <p>Due <span name="time">{{expires}}</span></p>
    {{#if isAuthor}}
      <a class="btn edit-btn disabled">Edit assignment details</a>
    {{/if}}
  </div></li>
  {{/each}}
</ul>
</div>
<h4>Menu</h4>
<p>No options yet</p>
<script>
  twl = 0
  document.getElementsByName("load").forEach(elt => {
    tempn = parseFloat(elt.innerHTML)
    if (!isNaN(tempn)) {twl = twl + tempn}
  })
  document.getElementById("twl").innerHTML = twl
</script>
<script>
  document.getElementsByName("time").forEach(elt => {
    elt.innerHTML = new Date(parseInt(elt.innerHTML)*1000).toLocaleString()
  })
</script>