{{#section 'head'}}
<title>Admin Dashboard</title>
<script src="http://localhost:5005/static/js/class-admin.js"></script>
{{/section}}
{{> sidebar this }}
<div class="content">
<div class="dashboard" data-cid="{{classID}}">
<p class="title">{{classObj.name}} - Admin Dashboard</p>
<a href="/classes/{{classID}}/feed">Back to class feed</a>
<ul>
  <li>
    <div class="all-padded">
      <p class="heading">Invite links</p>
      <p>Send out invite link</p>
      <a class="btn invite-btn">Create Link</a>
      <div id="invite-links">
        
      </div>
    </div>
  </li>
  <li>
    <div class="all-padded">
      <p class="heading">Class details</p>
      <a class="btn dropdown-trigger">Update class details</a>
      <div class="dropdown-details">
        <div class="all-padded">
          <p>Group name</p>
          <input id="class-name" autocomplete="off" value="{{classObj.name}}"/>
          <p>Description</p>
          <textarea id="class-description" class="large-input" autocomplete="off">{{classObj.description}}</textarea>
          <p class="small"><span id="charcount">2000</span> characters left</p>
          <a class="btn update-btn" id="update-btn">Save changes</a>
        </div>
      </div>
    </div>
  </li>
  <li>
    <div class="all-padded">
      <p class="heading">Manage users</p>
      <a class="btn" id="get-users">View users</a>
      <div class="hidden-details">
        <p class="heading">Members</p>
        <ul id="users-list" data-last="" data-username="{{username}}"></ul>
        <hr width="80%">
        <p class="heading">Banned users</p>
        <ul id="banned-users-list"></ul>
      </div>
    </div>
  </li>
  <li>
    <div class="all-padded">
      <p class="heading">Manage assignments</p>
    <ul>
        {{#each assignments}}
        <li>
          <div class="assignment small" data-aid="{{id}}" data-cid="{{classID}}" data-max="{{workload}}">
            <div class="dropdown-trigger">
              <div class="all-padded">
                <p class="heading">{{title}}</p>
                <p>Created on <span name="time">{{created}}</span></p>
                <p>Expected workload: <span name="load">{{workload}}</span></p>
              </div>
            </div>
            <div class="dropdown-details">
              <div class="all-padded">
                <span>Description:</span>
                <p>{{description}}</p>
              </div>
            </div>
            <div class="all-padded">
              <p>Due <span name="time">{{expires}}</span></p>
              {{#if isAuthor}}
                <a class="btn edit-btn disabled">Edit assignment details</a>
                <span>(You are the author of this assignment)</span>
              {{/if}}
            </div>
          </div>
          <div class="sm10-col"></div>
          <div class="sm15-col">
            <a class="btn delete-btn">Delete</a>
          </div>
        </li>
        {{/each}}
      </ul>
    </div>
  </li>
</ul>
</div>
</div>
<div class="snackbar"></div>
<script>
document.getElementsByName("time").forEach(elt => {
    elt.innerHTML = new Date(parseInt(elt.innerHTML)*1000).toLocaleString()
  })
</script>